
body{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;

}
span{
    color: tomato;
}
section{
    margin-bottom: 100px;
}
p{
    margin-bottom: 35px;
    line-height: 25px;
    font-size: 18px;
}
h1{
    font-size: 60px;
    margin-top: 0;
}
h2{
    font-size: 50px;
    margin-top: 0;
}
#margin{
    margin-left: 0;
}
/* header section start here */
.container{
    width: 100%;
    height: 750px;
    background-image: url(images/backgound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    color: white;
    width: 100%;
    height: 750px;
    background-color: rgba(0, 0, 1, 0.3);
}
.header{
    padding-top: 200px;
    padding-left: 200px;
}
.donate-button {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 15px;
    border-radius: 7px;
}
/* header section end here */



/* donate section start here */
.donate{
    display: flex;
}
.donate{
    display: flex;
}
.donate-title{
    width:40%;
    margin-left: 10%;
}
.donate-img{
    width:40%;
    margin-left: 10%;
}
.donate-img img{
    border-radius: 10px;
}

/* donate section end here */



/* card secton start here */
.card-body{
    display: flex;
    margin-top: 40px;
}
.card-title{
    text-align: center;
}
.card-content{
    display: flex;
    width:40%;
    margin-left: 6%;
    background-color: rgba(241, 124, 108, 0.795);
    padding: 10px 15px;
    border-radius: 10px;
}
.card-icon {
 width: 50%;
 margin-top: 27px;
}
.card-icon i{
    font-size: 50px;
    color: tomato;
}
/* card secton end here */


/* image section start here */
.images{}
.image-body{
    text-align: center;
}
.image-body img{
    margin: 10px;
    border-radius: 10px;
}
/* image section end here */


/* jaka fund start here */

.fund-card-body{
    width:26%;
    border:1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-left: 5%;
}
.fund-cards{
    display: flex;
}
.fund-card-body img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fund-title{
    text-align: center;
}
.jakat-button{
    color: tomato;
    font-weight: 600;
}
.fund-card-title{
    padding: 0 10px;
    margin-bottom: 20px;
}
/* jaka fund end here */


/* footer section start here */
 footer{
    background-color: black;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    color: white;
 }
 footer h4{
    font-family: 'Bebas Neue', cursive;
    color: tomato;
    font-size: 30px;

 }
/* footer section end here */